#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ballNumber {
  display: inline-block;
  margin: 10px;
  border: 1px solid slategray;
  box-shadow: 0 2px 2px lightslategrey;
  width: 60px;
  padding: 20px;
  border-radius: 50%;
}